.cardPresentacion {
    height: 100px;
    width: 1000px;
    border-style: solid;
    border-color: black;
    text-align: center; 
}

.contenedorCardPresentacion {
    margin: 2%;
    justify-items: center;
    justify-content: center;

}

.logos {
  height: 30px;
  padding: 1%;
  justify-content: center;
  justify-items: center;  

}
/*border-color: rgb(35, 12, 45);*/